<form class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-md-4">Amount</label>
    <div class="col-md-8">
      <input type="text"
             cam-variable-name="amount"
             cam-variable-type="Integer"
             required
             class="form-control" />
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-4">Troublemaker</label>
      <div class="col-md-8">
          <input type="checkbox"
             cam-variable-name="troublemaker"
             cam-variable-type="Boolean"
             class="form-control" />
      </div>
  </div>

  <!-- <script cam-script type="text/form-script">
    // custom JavaScript goes here
  </script> -->S
</form>